@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #171717;
  font-family: "DM Sans", sans-serif;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
nav .dropdown img {
  display: none;
}
nav .dropdown .content-dropdown {
  display: block;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 55px;
}

.curriculo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.curriculo div:nth-child(1) {
  max-width: 310px;
}
.curriculo div:nth-child(1) h1 {
  max-width: 280px;
  font-size: 36px;
  margin-bottom: 10px;
}
.curriculo div:nth-child(1) p {
  color: #828282;
  margin-bottom: 15px;
}
.curriculo div:nth-child(1) div {
  display: flex;
  justify-content: space-between;
}
.curriculo div:nth-child(1) div button:nth-child(1) {
  background-color: #00DF5E;
  border: none;
}
.curriculo div:nth-child(1) div button:nth-child(2) {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
}
.curriculo div:nth-child(1) div button {
  width: 143px;
  height: 42px;
}

.sobre_mim {
  margin-top: 55px;
  text-align: center;
}
.sobre_mim p {
  color: #828282;
}
.sobre_mim .sobre_mim_textos {
  max-width: 600px;
  margin: 0 auto;
}
.sobre_mim .sobre_mim_textos h1 {
  margin-bottom: 30px;
}
.sobre_mim .card {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sobre_mim .card .buttons {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobre_mim .card .buttons p {
  font-size: 16px;
  width: 100%;
}
.sobre_mim .card .buttons svg {
  margin-bottom: 10px;
}

.projetos {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.projetos h1 {
  margin-bottom: 30px;
}

.linhas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 15px;
  text-align: start;
}

.cards {
  width: 350px;
  margin-bottom: 15px;
  height: 240px;
  padding: 15px;
  background-color: #333333;
  border-radius: 5px;
}
.cards img {
  width: 100%;
  margin-bottom: 15px;
}
.cards p {
  color: #828282;
}

.servicos {
  margin-top: 55px;
}
.servicos h1 {
  text-align: center;
  margin-bottom: 25px;
}
.servicos .linhas .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid #00DF5E;
}
.servicos .linhas .cards span {
  font-size: 42px;
  color: #00DF5E;
}
.servicos .linhas .cards p {
  font-size: 32px;
}

.skills {
  margin-top: 55px;
}
.skills h1 {
  margin-bottom: 25px;
  text-align: center;
}
.skills .linhas .cards_skills {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.skills .linhas .cards_skills .card {
  width: 150px;
  height: 150px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 185px;
  height: 60px;
  background-color: #333333;
}
footer .green {
  color: #00DF5E;
}

/*# sourceMappingURL=estilo.css.map */
