.comentarios{
    // border: 1px solid red;
    margin-bottom: 2rem;
    .comentarios__box{
        text-align: center;
        // border: 1px solid red;
        border-radius: 8px;
        background: $grayLeve;
        padding: 1rem;
        margin-bottom: 1rem;
        img.comentarios__box--perfil{
            margin-bottom: 1rem;
            width: 20%;
        }
        h2{
            font-size: 1.125rem;
            @include font($montserrat);
            font-weight: 500;
            margin-bottom: 1rem;
        }
    }
}

@media screen and(min-width:712px){
    .comentarios{
        display: flex;
        gap: 1rem;
        justify-content: center;
        .comentarios__box{
            width: 50%;
            text-align: left;
            img.comentarios__box--perfil{
                width: 30%; 
            }
        }
    }
}