footer.footer{
    margin-top: 3rem;
    a.menu__navegacao__home{
        display: inline-block;
        margin-bottom: 1rem;
    }

    .menu__footer{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        ul{
            margin-right: 3rem;
            margin-bottom: 1rem;
            li.first{
                margin-bottom: 1rem;
            }
            li{
                margin-top: 0.6rem;
                a.first{
                    @include font($poppins);
                    font-weight: 400;
                    font-size: 1rem;
                }
                a{
                    @include font($roboto);
                    font-weight: 400;
                    color: $black;
                    font-size: small;
                }
                a:hover{
                    color: $red;
                }
            }
        }
    }
}

@media screen and(min-width:600px){
    .footer{
        display: flex;
        justify-content: start;
        gap: 3rem;
        .menu__navegacao__home{
            margin-top: 10px;
        }
    }
}