@use 'variaveis' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: $font-family;
    font-size: 16px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}
.center {
    text-align: center;
}
.red{
    color: $red;
}

.yellow{
    color: $yellow;
}

.green{
    color: $green;
}