@media screen and (max-width: 675px) {
    main .vitrine{
        flex-direction: column;
    }
}
/* ############# */
.containerHeader{
    max-width: 1440px;
    max-height: calc(378px + 120px);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/* DESCONTO */
.containerHeader .topoDesconto{
    width: 100%;
    background-color: var(--title);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.containerHeader .topoDesconto a{
    color: var(--white);
}

/* TITULO DO SITE */
.containerHeader .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

/* WALLPAPER DO SITE*/
.containerHeader .wallpaper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 378px;
    /* border: 1px solid blue;  */
    background-color: rgba(0,0,0, 1.0);
    color: var(--white);
}

.containerHeader .wallpaper .fundo{
    width: 100%;
    height: 378px;
    background-image: url(img/wallpaper.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute; 
    z-index: 1;
    filter:  brightness(40%);
}

.containerHeader .wallpaper h2,
.containerHeader .wallpaper p{
    z-index: 2;
    margin: 0 80px;
}
.containerHeader .wallpaper p{
    margin-top: 8px;
    width: 44%;
}

/* FIM HEADER */
/* MAIN */
main .containerMain{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}
main .destaques{
    height: 212px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    padding: 25px;
}
main .destaques h2{
    margin-bottom: 10px;
}

main .vitrine{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

main .vitrine .item{
    height: 300px; 
    width: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgCard);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}
main .vitrine .item img{
    width: 100%;
    max-width: 300px;
}

main .vitrine .item img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s all ease;
}

/* FOOTER */

footer{
    max-width: 1440px;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #181818;
    color: var(--white);
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}