header{
    // border: 1px solid red;
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
@media screen and (min-width: 520px){
    header{
        height: 300px;
    }
}
@media screen and (min-width: 992px){
    header{
        height: 500px;
    }
}