:root{
    --white     : #FFFFFF;
    --gray      : #F9F9F9;
    --black     : #272727;
    --montserrat: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}