:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

@font-face {
    font-family: 'Lexend Deca';
    src: 
    url(../fontes/LexendDeca-Regular.ttf);
}
/* reset style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca';
}
/* fonte */
/* container */
.container {
    margin: 0 auto;
    background-color: #F3F5F7;
}

/* header da pagina */
header{
    height: 300px;
    /* border: 3px solid green; */
    display: flex;
    background: var(--linear);
    margin-bottom: 50px;
    
}
.containerHeader{
    width: 900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.containerHeader nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
}
.containerHeader nav a{
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
}

.containerHeader #search{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.containerHeader #search i{
    color: var(--white);
}
.containerHeader #search input{
    width: 100%;
    padding: 10px;
    margin-left: 5px;
    border: 0;
    background: transparent;
    font-size: 18px;
    color: var(--text);
}
.containerHeader #search input:hover, #search input:focus{
    box-shadow: none;
    outline: 0;
}

/* SEÇAO DOS POSTS */
main #posts{
    max-width: 940px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
main #posts .post{
    margin: 0 20px;
    /* border: 1px  solid blue; */
    padding: 25px 15px;
    margin-top: 50px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(19,19,31,0.05);
    border-radius: 5px;
}
main #posts .post .small{
    display: flex;
    justify-content: space-between;
    color: var(--text);
    margin-bottom: 22px;
}
main #posts .post .small small{
    font-size: 16px;
    color: #717171;
}

main #posts .post .small input:hover{
    content: url(../img/heart-full.png);
}

main #posts .post h2{
    font-weight: 400;
    margin-bottom: 8px;
}
main #posts .post p{
    font-size: 18px;
    color: #717171;
}

